

<style>
  .search-btn{
    border-color: #fe424d !important;
    color: black !important;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: white !important;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="display: flex; justify-content: space-between;">

      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
        
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search destinations" style="border-radius: 25px; min-width: 100%; padding: 0.6rem 3rem 0.6rem 3rem;" />
          <button class="btn btn-outline-success d-flex search-btn" type="submit" style="align-items: center; gap: 5px; border-radius: 25px;" ><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <%if(currentUser === undefined){%>
          <div class=" gap-2 d-flex">
            <a class="nav-link btn btn-primary "   style="background-color: transparent; color: black; border: 1px solid #fe424d;" href="/signup">Sign Up</a>
            <a class="nav-link btn btn-primary " style="background-color: #fe424d; border: none; color: white !important;" href="/login">Login</a>
          </div>
          
        <%}else{%>
          <a class="nav-link nav-link btn btn-primary " style="background-color: #fe424d; border: none; color: white !important;" href="/logout">Logout</a>
        <%}%>



      </div>

    </div>
  </div>
</nav>

