<% layout("/layouts/boilerplate.ejs")%>

<body>
    <div class="row">
        
        <div class="alert alert-danger col-6 mt-5 offset-3" role="alert">
            
            <p class="alert-heading"><i class="bi bi-exclamation-triangle-fill me-2"></i><b><%=message%></b></p>

        </div>
    </div>
</body>
