

<% layout("/layouts/boilerplate.ejs")%>

<div class="row mt-3">

    <div class="col-6 card offset-3 mb-5">

        <form action="/login" novalidate class="needs-validation"  method="post">

            <h3 class="offset-5 mt-3"><b>Login</b></h3>
            <hr >

             <div class="mb-3 mt-4">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username" class="form-control" required> 
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Field empty.
                    </div>
                </div>
             <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" class="form-control" required> 
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Field empty.
                    </div>
                </div>

                 <div class="d-flex justify-content-center gap-3 mb-4">
                    <button class="btn btn-primary " style="background-color: #fe424d; border: none;" type="submit">Login</button>
                    <a href="/signup" class="btn btn-primary "   style="background-color: transparent; color: black; border: 1px solid #fe424d;"> Sign Up</a>
                </div>

        </form>

    </div>
</div>